.wrapper{
    width: 100%;
    margin-bottom: 20px;
}

.selection{
    font-size: 1.8rem;
    border-bottom: 1.5px solid rgba(0,0,0,0.2);
}

.select-item{
    position: relative;
    display: inline-flex;
    height: 60px;
    padding: 10px 40px;
    cursor: pointer;
    align-items: center;
}

.select-item.active{
    color: #FF5D31;
    background-color: #FFFAF5;
}

.select-item.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FF5D31;
    transition: .3s ease;
}

.link-wrapper{
    display: flex;
    justify-content: center;
}

.generate-link{
    margin-top: 20px;
}


