.wrapper{
    margin: 20px auto 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 30px;
}

.inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #000958;
    font-weight: 500;
    font-size: 1.5rem;
}

.actions{
    margin-top: 30px;
}

