.wrapper{
    --header-height: 70px;
    background-color: #FFFAF5;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo-wrapper{
    height: calc(var(--header-height) - 10px)
}

.logo{
    height: 100%;;
}

.links{
    margin-right:20px;
}

.link-item{
    padding: 10px 24px;
    font-size: 1.8rem;
}

.active{
    color: #000958;
    text-shadow: 0 0 0.7px;
}